# Date: 9 July 2019


### String Functions 
__add__,   __class__,   __contains__,   __delattr__,   __dir__,   __doc__,   __eq__,   __format__,   __ge__,   __getattribute__,   __getitem__,   __getnewargs__,   __gt__,   __hash__,   __init__,   __init_subclass__,   __iter__,   __le__,   __len__,   __lt__,   __mod__,   __mul__,   __ne__,   __new__,   __reduce__,   __reduce_ex__,   __repr__,   __rmod__,   __rmul__,   __setattr__,   __sizeof__,   __str__,   __subclasshook__,   capitalize,   casefold,   center,   count,   encode,   endswith,   expandtabs,   find,   format,   format_map,   index,   isalnum,   isalpha,   isascii,   isdecimal,   isdigit,   isidentifier,   islower,   isnumeric,   isprintable,   isspace,   istitle,   isupper,   join,   ljust,   lower,   lstrip,   maketrans,   partition,   replace,   rfind,   rindex,   rjust,   rpartition,   rsplit,   rstrip,   split,   splitlines,   startswith,   strip,   swapcase,   title,   translate,   upper,   zfill,

####  capitalize()

In [7]:
"first name".capitalize() # make the first character have upper case and the rest lower case.

'First name'

In [11]:
"a".capitalize()

'A'

In [13]:
s = "first name"
s = s.capitalize()
s

'First name'

###  casefold()

In [18]:
s.casefold() # it just `returns` the case less string

'first name'

In [20]:
help("".encode)

Help on built-in function encode:

encode(encoding='utf-8', errors='strict') method of builtins.str instance
    Encode the string using the codec registered for encoding.

    encoding
      The encoding in which to encode the string.
    errors
      The error handling scheme to use for encoding errors.
      The default is 'strict' meaning that encoding errors raise a
      UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
      'xmlcharrefreplace' as well as any other name registered with
      codecs.register_error that can handle UnicodeEncodeErrors.

### Format()

In [23]:
"sum of {} and {} is {}".format(2,3,5)

'sum of 2 and 3 is 5'

### Encode()

In [26]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))
print(txt.encode("UTF-8",errors="strict"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'
b'My name is St\xc3\xa5le'

In [35]:
name = "abç"
print(name.encode("UTF-8","strict"))
print(name.encode("UTF-8","replace"))
print(name.encode('ascii','namereplace'))
name_encode = name.encode()
print(name_encode[0])
chr(97)

b'ab\xc3\xa7'
b'ab\xc3\xa7'
b'ab\\N{LATIN SMALL LETTER C WITH CEDILLA}'
97

'a'

### maketrans()

In [45]:
s = "python"
s.maketrans("abc",'def')

{97: 100, 98: 101, 99: 102}

In [43]:
help("".maketrans)

Help on built-in function maketrans:

maketrans(x, y=None, z=None, /)
    Return a translation table usable for str.translate().

    If there is only one argument, it must be a dictionary mapping Unicode
    ordinals (integers) or characters to Unicode ordinals, strings or None.
    Character keys will be then converted to ordinals.
    If there are two arguments, they must be strings of equal length, and
    in the resulting dictionary, each character in x will be mapped to the
    character at the same position in y. If there is a third argument, it
    must be a string, whose characters will be mapped to None in the result.

### translate()

In [ ]:
a = number

In [47]:
help("".format_map),help("".format)

Help on built-in function format_map:

format_map(...) method of builtins.str instance
    S.format_map(mapping) -> str

    Return a formatted version of S, using substitutions from mapping.
    The substitutions are identified by braces ('{' and '}').

Help on built-in function format:

format(...) method of builtins.str instance
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

(None, None)

In [57]:
### Tast 1
d = {"badulla":20,"sana sudha":300,"sumanth":500,"haripriya":200,"siva prasad":100,"pavan":50}
sortd = sorted(d.items(),key = lambda x:x[1],reverse = True)
i = 1
for k in sortd:
    print(i,k[0])
    i += 1

1 sumanth
2 sana sudha
3 haripriya
4 siva prasad
5 pavan
6 badulla

In [65]:
### Task 2
def CmnfactorCount(n1,n2):
    l = []
    for i in range(1,max(n1,n2)):
        if n1 % i == 0 and n2 % i == 0:
            l.append(i)
    return len(l)
n1 = int(input())
n2 = int(input())

CmnfactorCount(n1,n2)

5
10

2

In [71]:
print(".abdshj.,dsa.a.,asd,a.,d".rsplit("."))
print(".abdshj.,dsa.a.,asd,a.,d".split("."))

['', 'abdshj', ',dsa', 'a', ',asd,a', ',d']
['', 'abdshj', ',dsa', 'a', ',asd,a', ',d']

In [72]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

y = txt.split(", ")

print(y)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [9]:
import re
test_String = 'The hackerrank team is on a mission to flatten the world by restructuring the DNA of every company on the planet. We rank programmers based on their coding skills, helping companies source great programmers and reduce the time to hire. As a result, we are revolutionizing the way companies discover and evaluate talented engineers. The hackerrank platform is the destination for the best engineers to hone their skills and companies to find top engineers.'
re.findall(r'hackerrank', test_String)

['hackerrank', 'hackerrank']

In [1]:
for i in range(int(input())):
    s = input().split(".")# dafgc.com # kdjfh.in
    print(s)

1
gmail.com
['gmail', 'com']

# List Comprehension

In [3]:
s=[12,23]
print(*s)

12 23

In [2]:
len("b, ba, bac, bace, a, ac, ace, aceb, c, ce, ceb, e, eb, baceb".split(","))

14